.general_questions {
    max-height: 500px;
    height: 500px;
    width: 100%;
    
    margin-top: 50px;
}

.section_header{
    padding: 10px;
    height: 60px;
}

.section_desc{
    padding: 10px;
    margin-top: 25px;
    width:100%;
    height: calc(500 - 60)px;
}

.question{
    height: 50px;
    width: 100%;
    cursor: pointer;
    
    display:flex;
    justify-content: space-between;
        border-bottom: 0.015px solid rgba(0,0,0,0.1);
    margin-bottom: 55px;
}

.question_title{
    font-size: 20px;
}

.question_icon > svg{
    font-size: 34px;
}

.divider {
    width: 40%;
    border-bottom: 0.015px solid rgba(0,0,0,0.1);
    margin-left: 10px;
}

.h {

    font-size: 1.75rem;
}