.button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(237,237,237, 0.45);
    font-family: 'Open Sans',sans-serif;
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    text-transform: uppercase;
    
    text-decoration: none;
    cursor: pointer;
    
    height: 50%;
}

.flash-wrapper{
    height: calc(100% - 15% - 50px);
    display:flex;
    width: 100%;
    justify-content: center;
}

.flash-content{
    height: 100%;
    width: 60%;
}

.question-title{
    text-align: right;
    height: 30px;
    font-size: 15px;
}

.card{
    height: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}